@import './index.scss';

$barfillcolor: var(--bar-fill-color);
$baranimationcolor: var(--bar-animation-color);

._ProgressBar {
  @include flex;
  width: 100%;

  svg {
    border: $greylight 2px solid;
    border-radius: 20px;
  }

  svg rect {
    transition: height 1s linear;
  }
}

@keyframes barslow {
  10% {
    fill: $barfillcolor;
  }
  50% {
    fill: $baranimationcolor;
  }
  100% {
    fill: $barfillcolor;
  }
}

@keyframes barfast {
  35% {
    fill: $barfillcolor;
  }
  50% {
    fill: $baranimationcolor;
  }
  65% {
    fill: $barfillcolor;
  }
}
