$FillColor: var(--bar-fill-color);
$AnimColor: var(--bar-anim-color);

._ProgressBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  svg {
    border-radius: 20px;
  }

  svg rect {
    transition: height 1s linear;
  }
}

@keyframes baridle {
  from {
  }
  to {
  }
}

@keyframes barslow {
  10% {
    fill: $FillColor;
  }
  50% {
    fill: $AnimColor;
  }
  100% {
    fill: $FillColor;
  }
}

@keyframes barfast {
  35% {
    fill: $FillColor;
  }
  50% {
    fill: $AnimColor;
  }
  65% {
    fill: $FillColor;
  }
}
