$StrokeColor: var(--circle-stroke-color);
$AnimColor: var(--circle-anim-color);

._ProgressCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: rotate(-90deg);

  circle {
    z-index: 2;
    position: relative;
    fill: transparent;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
  }
  ._CircleFill {
    z-index: 1;
  }
}

@keyframes baridle {
  from {
  }
  to {
  }
}

@keyframes circleslow {
  10% {
    stroke: $StrokeColor;
  }
  50% {
    stroke: $AnimColor;
  }
  100% {
    stroke: $StrokeColor;
  }
}

@keyframes circlefast {
  30% {
    stroke: $StrokeColor;
  }
  50% {
    stroke: $AnimColor;
  }
  60% {
    stroke: $StrokeColor;
  }
}
