$FillColor: var(--circle-fill-color);
$AnimColor: var(--circle-anim-color);

._ProgressCircle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: rotate(-90deg);

  circle {
    z-index: 2;
    position: relative;
    fill: transparent;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
  }

  ._CircleBack {
    z-index: 1;
  }

  ._ShowPercent {
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@keyframes circleidle {
  from {
  }
  to {
  }
}

@keyframes circleanim {
  10% {
    stroke: $FillColor;
  }
  50% {
    stroke: $AnimColor;
  }
  100% {
    stroke: $FillColor;
  }
}
